body {
    margin: 0;
    padding: 0;
}

#map-tent-sites {
    height: 100vh;
    width: 100vw;
}

#view-controller {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 50%;
}

#wall {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}