body {
    margin: 0;
    padding: 0;
}

#map-tent-sites {
    height: 100vh;
    width: 100vw;
}

#wall {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}