body {
    margin: 0;
    padding: 0;
}

nav {
    height: 45px;
}

.menu {
    font-size: 20px;
}

#content {
    height: calc(100vh - 45px);
    width: 100vw;
    overflow: hidden;
}

.page {
    height: 100vh;
    width: 100vw;
}

#camera, #camera-photo {
    width: 500px;
    height: 375px;
    margin: 0 auto;
}

#map img, #map video {
    max-width: 300px;
    width: 300px;
}

#wall {
    padding: 0;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    overflow-y: auto;
}

#wall div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 300px;
    margin: 0 2px 2px 0;
    cursor: pointer;
}

#wall img {
    width: 100%;
    height: auto;
}

hr.border-dashed {
    border-style: dashed;
}

@media screen and (max-width: 400px) {
    #wall div { margin: 0; }
    #wall { padding: 0; }
}