/* Customizing leaflet design */
.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
    font-size: 22px;
}

.leaflet-popup-content {
    width: auto!important; /* Because leaflet adds a style directly to element we need to flag this as important! */
}

.leaflet-popup-content p {
    margin: 0;
    padding: 10px 5px;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

/* Foundation overrides */
.easy-button-button {
    padding: 0;
    margin: 0;
}

.easy-button-button:hover {
    cursor: pointer;
}
.top-bar, ul.menu {
    background-color: #444;
    padding: 0;
}
.menu a {
    color: #bbb;
}

.menu li.is-active a {
    color: #eee;
}

.reveal {
    top: auto;
    padding: 2px;
    border: 0;
}